<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>wrpbz</display-name>
  <listener>
    <listener-class>cn.miao.framework.servlet.ContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.miao.framework.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>interceptor</filter-name>
    <filter-class>cn.miao.framework.filter.DispatchFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>interceptor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>cn.miao.framework.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/desktop/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DataFileUploadFilter</filter-name>
    <filter-class>net.htwater.hos.filter.DataFileUploadFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DataFileUploadFilter</filter-name>
    <url-pattern>/data.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ModulePageFilter</filter-name>
    <filter-class>net.htwater.hos.filter.ModulePageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ModulePageFilter</filter-name>
    <url-pattern>/module_page.do</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>ExportZbapServlet</display-name>
    <servlet-name>ExportZbapServlet</servlet-name>
    <servlet-class>net.htwater.servlets.ExportZbapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportZbapServlet</servlet-name>
    <url-pattern>/servlets/ExportZbapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ExportWord</display-name>
    <servlet-name>ExportWord</servlet-name>
    <servlet-class>net.htwater.servlets.ExportWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportWord</servlet-name>
    <url-pattern>/servlets/ExportWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ExportSYQ_report</display-name>
    <servlet-name>ExportSYQ_report</servlet-name>
    <servlet-class>net.htwater.servlets.ExportSYQ_report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportSYQ_report</servlet-name>
    <url-pattern>/servlets/ExportSYQ_report</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>net.htwater.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/servlets/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>net.htwater.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlets/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>UploadServletPDF</servlet-name>
    <servlet-class>net.htwater.servlets.UploadServletPDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletPDF</servlet-name>
    <url-pattern>/servlets/UploadServletPDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>ImportExcelServlet</servlet-name>
    <servlet-class>net.htwater.servlets.ImportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcelServlet</servlet-name>
    <url-pattern>/servlets/ImportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>GetPDFServlet</servlet-name>
    <servlet-class>net.htwater.servlets.GetPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPDFServlet</servlet-name>
    <url-pattern>/servlets/GetPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Quartz Initializer Servlet  定时 </display-name>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
      <param-name>config-file</param-name>
      <param-value>/quartz.properties</param-value>
    </init-param>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ModulePageServlet</display-name>
    <servlet-name>ModulePageServlet</servlet-name>
    <servlet-class>net.htwater.servlets.ModulePageServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModulePageServlet</servlet-name>
    <url-pattern>/ModulePageAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistrictAppServlet</display-name>
    <servlet-name>DistrictAppServlet</servlet-name>
    <servlet-class>net.htwater.servlets.DistrictAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistrictAppServlet</servlet-name>
    <url-pattern>/DistrictAppAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadDoc</servlet-name>
    <servlet-class>net.htwater.Util.uploadDoc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDoc</servlet-name>
    <url-pattern>/service/uploaddoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name></display-name>
    <servlet-name>CommonUpload</servlet-name>
    <servlet-class>cn.miao.framework.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonUpload</servlet-name>
    <url-pattern>/service/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>net.htwater.Util.FileUploadDataBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/service/uploadexcel</url-pattern>
  </servlet-mapping>
</web-app>