<div id="popup-chart-wrapper">
	<form class="form-inline" role="form" style="text-align: center;">
		<div class="timepicker-wrapper" id="popup-timepicker" style="display: inline-block;">
			<div class="form-group">
				<label for="popup-start-tm" class="control-label">时间：</label>
				<input type="text" class="form-control input-sm" id="popup-start-tm" style="width: 120px; height: 24px;padding: 5px 2px;">
			</div>
			<div class="form-group">
				<label for="popup-end-tm" class="control-label">结束：</label>
				<input type="text" class="form-control input-sm" id="popup-end-tm" style="width: 120px; height: 24px;padding: 5px 2px;">
			</div>
		</div>
		<button class="btn btn-xs btn-primary">查询</button>
	</form>
	<div id="popup-chart" style="height:210px;"></div>
</div>